---
layout: main
title: About Justin
---
<div class="mb">
<div class="center">
  <img class="about-img" src="../images/me.jpg">
</div>

<h2>About Justin</h2>
<p>I'm a product leader, developer, writer, and former founder living in Dallas, TX with my wife and two kids.</p> 
<p>I am currently Lead Product Manager for <a href="https://clickup.com">ClickUp's Docs</a> product. Previously, I ran product at <a href="https://pinata.cloud">Pinata,</a> overseeing a team of product managers building the future of media storage and distribution. My focus is on product strategy, go to market for new products and features, and mentorship.</p>
<p>On the side, you can find me building apps, playing with my 3D printer, and writing. My first book, published by Rhythm & Bones Press, came out in 2020 and <a href="https://www.indiebound.org/book/9781952050022">is available here</a>.</p>
<p>You can contact me by sending me a dm on <a href="https://twitter.com/polluterofminds">Twitter</a> or emailing me at justin [at] polluterofminds [dot] com.</p>
</div>