---
title: Justin Hunter | @polluterofminds
layout: main
---
<div class="flex-row">
  <img class="hero-profile-img" src="/images/me.jpg" alt="Me on the beach staring off into the distance with a smile" />
</div>
<p>I am a product leader currently working in the web3 space. I mentor startups, write about product development and entrepreneurship, and I previously founded three companies.</p>
<p>You can find me everywhere online by my handle, <strong>{{site.author.twitter}}</strong>.</p>
<h1>Latest Articles</h1>
{% assign posts = collections.posts | reverse %}
{% for post in posts limit:5 %}
    <p>
    <a href="{{ post.url }}">{{ post.data.title }}</a> <i>({{ post.date | date: "%b %d, %Y"}})</i>
    </p>
{% endfor %}
<a class="more-link" href="/blog">More articles ></a>