---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - blog
permalink: /tags/{{ tag }}/
layout: layouts/base.liquid
---

{% include "head.liquid" %}
<div>
  <div class="grid grid-cols-1 md:grid-cols-1">   
    <div
      class="border border-white border-4 bg-yellow-400 pt-14 pb-18 px-6 text-gray-950 relative"
    >
      <div
        class="absolute inset-0 bg-[image:radial-gradient(circle,#000_1.0px,transparent_1.0px)] bg-[length:20px_20px] mix-blend-darken"
      ></div>

      <div class="relative z-10">
        <h1 class="font-comic -rotate-12 text-3xl md:text-6xl">{{ tag }}</h1>
        <h3 class="font-comic -rotate-12 text-lg md:text-xl text-right mt-4">
          {{ collections[tag].length }} posts
        </h3>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1">
    <div
      class="border border-4 p-6 relative bg-gradient-to-r from-gray-600 to-gray-800"
    >
      <ul>
        {% assign taglist = collections[ tag ] %} {% for post in taglist |
        reverse %}
        <li class="text-xl font-body my-4">
          <div>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </div>
          <div class="flex items-center">
            {%- for tag in post.data.tags exclude:blog -%} {%- if tag != "blog"
            -%}
            <a class="text-yellow-500 mr-4 text-sm" href="/tags/{{ tag }}"
              >{{ tag }}</a
            >
            {%- endif -%} {%- endfor -%}
            <p class="text-sm">{{ post.data.date | formatDate: "medium" }}</p>
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
