@font-face {
  font-family: 'Oswald';
  src:  url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype')
}

@font-face {
  font-family: 'Quicksand';
  src:  url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype')
}

:root {
  --color-bg: #282828;
  --color-fg: #dedede;
}

.element {
  color: var(--my-color-variable);
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  width: 65%;
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: 'Oswald';
}

p {
  font-family: 'Quicksand';
  font-size: 18px;
  line-height: 1.5rem;
}

.logo:visited {
  text-decoration: none; 
  color: inherit; 
}

.logo {
  text-decoration: none;
}

.logo h2 {
  text-transform: uppercase;
}

.header {
  justify-content: space-between;
}

.links {
  margin-top: 20px;
}

.header .links a {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: var(--color-fg);
  font-weight: 800;
  font-family: 'Oswald';
}

.center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.hero-profile-img {
  height: 100px;
  width: 100px;
  border-radius: 1000px;
  margin: auto;
  margin-top: 50px;
}

.about-img {
  max-width: 40%;
  margin-top: 50px;
  border-radius: 1000px;
}

.more-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-fg);
  text-decoration: underline;
  font-weight: bold;
}

.work-layout, .mb {
  margin-bottom: 50px;
}

.post-date {
  font-size: 16px;
}

footer {
  margin-bottom: 50px;
}

.blog {
  max-width: 65%;
  margin: auto;
}

.blog p {
  font-size: 20px;
  line-height: 1.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-fg: #000000;
  }
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;
    margin-bottom: 50px;   
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

  .header .links .a {
    font-size: 14px;
  }

  .blog {
    max-width: 85%;
    margin: auto;
  }

  .blog p {
    font-size: 18px;
  }
}