{{define "head"}}
<head>
	<meta charset="utf-8">
	<title>@polluterofminds | Justin Hunter</title>
	<link rel="stylesheet" href="/assets/styles.css">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="description" content="A blog by Justin Hunter">
  <meta property="og:title" content="@polluterofminds | Justin Hunter" />
  <meta property="og:site_name" content="@polluterofminds" />
  <meta property="og:description" content="A blog by Justin Hunter" />
  <meta property="og:image" content="https://pinata-tutorials.mypinata.cloud/ipfs/QmVJhZCEabf3BG35yzD482rNgstwsHq6QnTStdGimsUAdy" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@polluterofminds" />
  <meta name="twitter:title" content="@polluterofminds | Justin Hunter" />
  <meta name="twitter:description" content="A blog by Justin Hunter" />
  <meta name="twitter:image" content="https://pinata-tutorials.mypinata.cloud/ipfs/QmVJhZCEabf3BG35yzD482rNgstwsHq6QnTStdGimsUAdy" />
  <link rel="icon" type="image/png" sizes="16x16" href="https://pinata-tutorials.mypinata.cloud/ipfs/Qmc6hsZzaAkWkHdvR13nj1a9esJ6CdwrXM61xk17nVDkvf">
  <link rel="icon" type="image/png" sizes="16x16" href="https://pinata-tutorials.mypinata.cloud/ipfs/QmWNGerHrw8o8hH5PJokYjHdEZbEJ2UAiYBA2mMTkUpsuc">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="me" href="https://github.com/polluterofminds" />
  <link rel="me" href="https://bsky.app/profile/polluterofminds.com" />
  <link rel="me" href="https://x.com/polluterofminds" />
  <link rel="me" href="https://warpcast.com/polluterofminds" />  
</head>
{{ end }}