{{define "nav"}}
  <header class="py-6 flex justify-between w-full items-center">
    <div>
      <a href="/">
        <h3 class="text-xl">@polluterofminds</h3>
      </a>
    </div>
    <div class="md:flex md:inline hidden">
      <a class="px-2" href="/blog">Blog</a>
      <a class="px-2" href="/tags">Tags</a>
      <a class="px-2" href="/projects">Projects</a>
      <a class="px-2" href="/about">About</a>
    </div>
    <nav class="md:hidden" aria-label="nav button" role="navigation">
      <div id="menuToggle">
        <input name="nav" id="nav" type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="z-60" id="menu">
          <a href="/blog">
            <li>Blog</li>
          </a>
          <a href="/tags">
            <li>Tags</li>
          </a>
          <a href="/projects">
            <li>Projects</li>
          </a>
          <a href="/about">
            <li>About</li>
          </a>         
        </ul>
      </div>
    </nav>
  </header>
{{ end }}