{{define "nav"}}
  <header class="py-6 flex justify-between w-full items-center">
    <div>
      <a href="/">
        <h3 class="text-xl">@polluterofminds</h3>
      </a>
    </div>
    <div class="md:flex md:inline hidden">
      <a class="px-2" href="/blog">Blog</a>
      <a class="px-2" href="/tags">Tags</a>
      <a class="px-2" href="/projects">Projects</a>
      <a class="px-2" href="/about">About</a>
      <a href="/search">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
        </svg>
      </a>
    </div>
    <nav class="md:hidden" aria-label="nav button" role="navigation">
      <div id="menuToggle">
        <input name="nav" id="nav" type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/blog">
            <li>Blog</li>
          </a>
          <a href="/tags">
            <li>Tags</li>
          </a>
          <a href="/projects">
            <li>Projects</li>
          </a>
          <a href="/about">
            <li>About</li>
          </a>
          <a href="/search">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>
          </a>
        </ul>
      </div>
    </nav>
  </header>
{{ end }}