<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body class="bg-gray-950 text-white font-sans w-4/5 sm:w-3/4 md:w-3/5 m-auto">
    {{ template "nav" .}}
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
          <div class="relative transform overflow-hidden rounded-lg bg-gray-900 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
            <div>
              <div class="flex items-center mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-600">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                </svg>
                <form action="#" method="get">
                <input autofocus class="ml-2 bg-transparent text-gray-600 placeholder-gray-400 w-full outline-none focus:outline-none" list="blog-posts" placeholder="Search for a post..."><br />
                <div>
                  <datalist id="blog-posts">
                    {{ range . }}
                      <option>
                        <a href="/blog/{{ .Slug }}">
                          <span>{{ .Date.Format "Jan 02, 2006" }}</span>
                          <span>{{ .Title }}</span>
                        </a>
                      </option>
                    {{ end }}
                  </datalist>
                </div>
                </form>
              </div>
            </div>
            <div class="mt-5 sm:mt-6 flex justify-end">              
              <button type="button" class="mt-3 inline-flex w-auto justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0"><a href="/">Cancel<a/></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer" .}}
  </body>
</html>