<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@polluterofminds | Justin Hunter</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="A blog by Justin Hunter">
    <meta property="og:title" content="@polluterofminds | Justin Hunter"/>
    <meta property="og:site_name" content="@polluterofminds"/>
    <meta property="og:description" content="A blog by Justin Hunter"/>
    <meta property="og:image" content="https://pinata-tutorials.mypinata.cloud/ipfs/QmVJhZCEabf3BG35yzD482rNgstwsHq6QnTStdGimsUAdy"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@polluterofminds"/>
    <meta name="twitter:title" content="@polluterofminds | Justin Hunter"/>
    <meta name="twitter:description" content="A blog by Justin Hunter"/>
    <meta name="twitter:image" content="https://pinata-tutorials.mypinata.cloud/ipfs/QmVJhZCEabf3BG35yzD482rNgstwsHq6QnTStdGimsUAdy"/>
    <link rel="icon" type="image/png" sizes="16x16" href="https://pinata-tutorials.mypinata.cloud/ipfs/Qmc6hsZzaAkWkHdvR13nj1a9esJ6CdwrXM61xk17nVDkvf">
    <link rel="icon" type="image/png" sizes="16x16" href="https://pinata-tutorials.mypinata.cloud/ipfs/QmWNGerHrw8o8hH5PJokYjHdEZbEJ2UAiYBA2mMTkUpsuc">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const link = window.location.href.split("/tags/")[1].split(".html")[0]
        document
          .querySelector(`#${link}`)
          .className = 'py-2 px-3 uppercase text-sm font-medium text-primary-500 hover:text-primary-600 dark:hover:text-primary-400'
      });
    </script>
  </head>
  <body class="bg-gray-950 text-white font-sans w-4/5 sm:w-3/4 md:w-3/5 m-auto">
    <header class="py-6 flex justify-between w-full">
      <div>
        <a href="/">
          <h3 class="text-xl">@polluterofminds</h3>
        </a>
      </div>
      <div class="md:flex md:inline hidden">
        <a class="px-2" href="/blog">Blog</a>
        <a class="px-2" href="/tags">Tags</a>
        <a class="px-2" href="/projects">Projects</a>
        <a class="px-2" href="/about">About</a>
      </div>
    </header>
    <div>
      <div>
        <div class="pb-6 pt-6">
          <h1 class="sm:hidden text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
            Title
          </h1>
        </div>
        <div class="flex sm:space-x-24">
          <div class="hidden max-h-screen h-full sm:flex flex-wrap bg-gray-50 dark:bg-gray-900/70 shadow-md pt-5 dark:shadow-gray-800/40 rounded min-w-[280px] max-w-[280px] overflow-auto">
            <div class="py-4 px-6">
              <a
                href={`/blog`}
                class="font-bold uppercase text-gray-700 dark:text-gray-300 hover:text-primary-500 dark:hover:text-primary-500"
              >
                All Posts
              </a>
              <ul>
                {{ range .AllTags }}
                  <li>
                    <a
                    id="{{ .Name }}"
                    href="/tags/{{ .Name }}"
                    class="py-2 px-3 uppercase text-sm font-medium text-gray-500 dark:text-gray-300 hover:text-primary-500 dark:hover:text-primary-500"
                    aria-label={`View posts tagged ${t}`}
                  >
                      {{ .Name }}
                      <span>{{ .Count }}</span>
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div>
            <ul>
              {{ range .Posts }}
                <li class="py-5">
                  <article class="space-y-2 flex flex-col xl:space-y-0">
                    <dl>
                      <dt class="sr-only">Published on</dt>
                      <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                        <time dateTime={{ .Date }}}>{{ .Date.Format "Jan 02, 2006" }}</time>
                      </dd>
                    </dl>
                    <div class="space-y-3">
                      <div>
                        <h2 class="text-2xl font-bold leading-8 tracking-tight">
                          <a href="/blog/{{ .Slug }}" class="text-gray-900 dark:text-gray-100">
                            {{ .Title }}
                          </a>
                        </h2>
                        <div class="flex flex-wrap">
                          {{ range .Tags }}
                            <a
                                href="/tags/{{ . }}"
                                class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                              >
                              {{ . }}
                            </a>
                          {{ end }}
                        </div>
                      </div>
                      <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                        {{ .Summary }}
                      </div>
                    </div>
                  </article>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{template "footer" .}}
  </body>
</html>